{% extends "blog/base.html" %}
{% block content %}
    <h1>About the blog!</h1>
    <p>Hi, There</p>

<p>This is a blogging website made using Django framework. This site can handle all the features a user want from a blogging website</p>

<h2 id="tech-stack">Features</h2>
<h3>A user can -</h3>
<ul>
  <li>Create an account</li>
  <li>Login and Logout</li>
  <li>Create, Update and Delete a post</li>
  <li>Maintain their profile with a bio and a profile picture</li>
  <li>View all the posts by a user</li>
  <li>Recover their password</li>
</ul>

<br></br>
<p>You can see the source code <a href="https://github.com/ChanBong/Blogging-Website">here</a>.</p>

{% endblock content %}
